{% extends 'base.html.twig' %}
{% block title %}CLIENT{% endblock %}
{% block body %}
    <h1>Your location is :</h1>
{% include 'home/map.html.twig' %}


<form>
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" readonly>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" readonly>
</form>    
{% endblock %}
 
